*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 45%;
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
    background: linear-gradient(180deg, rgb(230, 173, 230), rgb(80, 9, 146));
    padding: 40px;
    justify-content: center;
    border-radius: 50px;
}

.input-icons input{
    border: 0;
    border-radius: 50px;
    width: 600px;
    padding: 30px;
}

.error{
    font-size: 30px;
    color: rgb(14, 12, 12);
    text-align: left;
    margin-left: 90px;
    margin-top: 10px;
    display: none;
}

::placeholder{
    font-size: large;
}

.input-icons button{
    height: 50px;
    width: 120px;
}

.clear{
    width: 400px;
}

.temp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: whitesmoke;
}

.city{
    font-family: math;
    font-size: 50px;
    color: whitesmoke;
    padding: 25px;
}

.details{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.humidity{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}

.wind{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}

.humidity img{
    width: 80px;
}

.text h1{
    font-size: 30px;
    color: whitesmoke;
}

.text p{
    font-size: 20px;
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

#search{
    font-size: 55px; 
    position: absolute; 
    right: 36%; 
    top: 145px; 
    color: rgb(158, 153, 153);
}

.weather{
    display: none;
}